[submodule "Applikation-projects"] 
  path = Applikation-projects 
  url = https://github.com/Kinkio/Applikation-projects.git 
[submodule "TicTacToeWPF"] 
  url = https://github.com/Kinkio/Applikation-projects.git 