@{
    ViewBag.Title = "Forside";
}

<div class="row page">
    <div class="col-md-8">
        <h1>Portfolio</h1>
        <h2>AP Computer science</h2>
        <p>
            Her kan du følge med i projekter og andet spas
            jeg har lavet og vil dele.
        </p>

    </div>
    <div id="starSpace" class="col-md-2">
     
    </div>
</div>
